.dot
  { text-indent: -9000px;
    background-color: #ccc;
    width: 6px; height: 6px;
    margin: 0.25em 0.25em 0 0;
    display: block;
    float: left;
    -moz-border-radius: 6px;
    border-radius: 6px; }

.dot.running
  { background-color: green; }

.dot.failure
  { background-color: red; }

.clear
  { clear:both; display:block; overflow:hidden; visibility:hidden; width:0; height:0 }

td, th{
    padding: 0;
    margin: 0;
    text-align: center;
}

.accord{
    width: 60%;
    float: right;
}

.accordhead{
    width: 60%;
    float: right;
}

.cpu{
    width: 300px;
}

.load{
    width: 300px;
}

.memory {
    width: 300px;
}

.swap {
    width:300px;
}

.uptime{
    width:300px;
}
