{% extends "layout.html" %}

{% block head %}
    <title>Multi-Monit: Dashboard</title>
    <link rel="stylesheet" href="/static/css/custom.css"/>

    <meta http-equiv="refresh" content="{{ refresh }}">

    <script>
        $(function(){
            $("#accordion").accordion();
        });
    </script>
{% endblock %}

{% block body %}
    <div class="page-content">
        <div class="flex-grid no-responsive-future" style="height: 100%;">
            <div class="row" style="height: 100%">

                <div class="cell auto-size padding20 bg-white" id="cell-content">
                    <h1 class="text-light">Dashboard <span class="mif-meter place-right"></span></h1>
                    <hr class="thin bg-grayLighter">
                    <p>It is compulsory to restart MultiMonit after doing the websetup! (For logging and some other features to work)</p>
                    <br>
                    <div class="accordion" id="accordion">
                        {% for i in data %}
                            <div class="frame">
                                <div class="heading">
                                    <strong>
                                        <span title="status" class="dot status {% if i.sys.status == '0' %} running {% else %} failure {% endif %}">&middot;</span>
                                        <span title="monitored" class="dot monitored {% if i.sys.monitor == '1' %} running {% else %} failure {% endif %}">&middot;</span>
                                        <a href="www.{{ i.url }}"><span class="text-light" style="color: black">{% if i.sys == 0 %}Failed to check Monit Host{% else %}{{i.sys.name }}{% endif %}</span></a>
                                    </strong>

                                    <small style="float: right">
                                        <span class="info"><span class="label">load:   </span>{{ i.sys.load.avg05 }} | </span>
                                        <span class="info"><span class="label">cpu:    </span>{{ i.sys.cpu.user }}% |</span>
                                        <span class="info"><span class="label">memory: </span>{{ i.sys.memory.percent }}% | </span>
                                        <span class="info"><span class="label">swap:   </span>{% if i.sys.swap %}{{ i.sys.swap.percent }}% | {% else %} N/A | {% endif %}</span>
                                        <span class="info"><span class="label">uptime: </span>{{ i.sys.server.uptime}}</span>
                                    </small>
                                </div>
                                <div class="content server">
                                    <div class="segment filesystems">
                                        <h3>Filesystem</h3>
                                        {% if i.fs %}
                                        <ul class="clearfix">
                                            {% for f in i.fs %}
                                            <li>
                                                <strong title="({{ f.block.usage}} of {{ f.block.total }})">
                                                    <span class="dot status {% if f.status == '0' %} running {% else %} failure {% endif %}">&middot;</span>
                                                    <span class="dot monitored {% if f.monitor == '1' %} running {% else %} failure {% endif %}">&middot;</span>
                                                    {{ f.name }}
                                                </strong>
                                                {{ f.block.percent}}%
                                            </li>
                                            {% endfor %}
                                        </ul>
                                        {% else %} Not Setup {% endif %}
                                        <div class="clear"></div>
                                    </div>

                                    <div class="segment processes">
                                        <h3>Processes</h3>
                                        <ul>
                                            {% for s in i.process %}
                                            <li>
                                                <strong>
                                                    <span class="dot status {% if s.status == '0' %} running {% else %} failure {% endif %}">&middot;</span>
                                                    <span class="dot monitored {% if s.monitor == '1' %} running {% else %} failure {% endif %}">&middot;</span>
                                                    {{ s.name }}
                                                    {% if s.monitor == '0' %}<span class="label warning">NOT MONITORED</span>{% endif %}
                                                </strong>

                                                <small>
                                                    </br>
                                                    <span class="info"><span class="label">cpu:    </span>{% if s.cpu.percent %}{{ s.cpu.percent }}% {% else %} N/A {% endif %}</span>
                                                    </br>
                                                    <span class="info"><span class="label">memory: </span>{% if s.mem.percent %}{{ s.mem.percent }}% {% else %} N/A {% endif %}</span>
                                                    </br>
                                                    <span class="info"><span class="label">uptime: </span>{% if s.uptime %}{{ s.uptime }}{% else %} N/A {% endif %}</span>
                                                    </br>
                                                </small>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                        <div class="clear"></div>
                                    </div>

                                    <div class="segment hosts">
                                        <h3>Hosts</h3>
                                        {% if i.host %}
                                        <ul>
                                            {% for s in i.host %}
                                            <li>
                                                <strong>
                                                    <span class="dot status {% if s.status == '0' %} running {% else %} failure {% endif %}">&middot;</span>
                                                    <span class="dot monitored {% if s.monitor == '1' %} running {% else %} failure {% endif %}">&middot;</span>
                                                    {{ s.name }}
                                                    {% if s.monitor == '0' %}<span class="label warning">NOT MONITORED</span>{% endif %}
                                                </strong>

                                                <small>
                                                    <span class="info"><span class="label">response time: </span>{{ s.port.responsetime }} seconds</span>
                                                </small>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                        {% else %} Not Setup {% endif %}
                                        <div class="clear"></div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    <div>
                        <span>Page Resets Every {{ refresh }} Seconds </span>
                        <a href="settings" style="float: right"><span class="mif-wrench"></span> Settings</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
